.fondo{
    background-color: black;
}
.texto{
    color: white ;
}
.texto1{
    text-align: center;
}
.fondo2{
    background-color: #FEFDBA;
}
.fondoForms{
    background-color: white;
}
.fondomenu a{
    color: #FF5135 !important;
}